*{list-style: none;}
.container{
    width: 100%;
    text-align: center;
}
form label{
    display: block;
    font-size: 30px;
}
form input{
    padding: 10px 40px 10px 0px;
    margin-bottom: 20px;
}
form button{
    padding: 10px 20px;
}
li{text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    margin: 0 37rem;
    border: 1px solid black;
    font-size: 20px;
}
